{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://proxy.paloma365.com"
  } ],
  "info" : {
    "title" : "API сервиса Paloma-1C",
    "description" : "- В данном документе содержится описание API сервиса Paloma-1C.\n- Для работы сервиса необходимо передать параметр authkey, содержащий ключ авторизации, который указан в поле \"API AUTHKEY\" в настройках аккаунта личного кабинета Paloma.\n",
    "version" : "1.0.2"
  },
  "tags" : [ {
    "name" : "Paloma1CData",
    "description" : "Загрузка и выгрузка данных"
  } ],
  "paths" : {
    "/company/api/" : {
      "post" : {
        "tags" : [ "Paloma1CData" ],
        "summary" : "Загрузка и выгрузка данных",
        "operationId" : "postData",
        "description" : "Загрузка и выгрузка данных из системы Paloma",
        "parameters" : [ {
          "name" : "class",
          "in" : "query",
          "required" : true,
          "description" : "- json2paloma - загрузка данных в Paloma;\n- xml_exchange_data\\outDocuments - выгрузка документов из Paloma;\n- xml_exchange_data\\changesOut - выгрузка смен из Paloma;\n- guide2xml - выгрузка справочников из Paloma\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "json2paloma", "xml_exchange_data\\outDocuments", "xml_exchange_data\\changesOut", "guide2xml" ]
          }
        }, {
          "name" : "method",
          "in" : "query",
          "required" : true,
          "description" : "- loadData - для class=json2paloma;\n- to_file - для остальных, кроме class=json2paloma\n",
          "schema" : {
            "type" : "string",
            "enum" : [ "loadData", "to_file" ]
          }
        }, {
          "name" : "authkey",
          "in" : "query",
          "description" : "Ключ авторизации (указан в настройках аккаунта)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "output_format",
          "in" : "query",
          "description" : "Формат выгружаемых данных (xml, json)",
          "schema" : {
            "type" : "string",
            "enum" : [ "xml", "json" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "oneOf" : [ {
                  "$ref" : "#/components/schemas/FormDataIn"
                }, {
                  "$ref" : "#/components/schemas/FormDocuments"
                }, {
                  "$ref" : "#/components/schemas/FormGuides"
                }, {
                  "$ref" : "#/components/schemas/FormExchanges"
                } ],
                "discriminator" : {
                  "propertyName" : "class",
                  "mapping" : {
                    "json2paloma" : "#/components/schemas/FormDataIn",
                    "xml_exchange_data\\outDocuments" : "#/components/schemas/FormDocuments",
                    "guide2xml" : "#/components/schemas/FormGuides",
                    "xml_exchange_data\\changesOut" : "#/components/schemas/FormExchanges"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/text" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ResponseDataIn"
                  }, {
                    "$ref" : "#/components/schemas/ResponseDataOut"
                  } ],
                  "discriminator" : {
                    "propertyName" : "class",
                    "mapping" : {
                      "json2paloma" : "#/components/schemas/ResponseDataIn",
                      "xml_exchange_data\\outDocuments" : "#/components/schemas/ResponseDataOut",
                      "guide2xml" : "#/components/schemas/ResponseDataOut",
                      "xml_exchange_data\\changesOut" : "#/components/schemas/ResponseDataOut"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "FormDataIn" : {
        "type" : "object",
        "description" : "Загрузка данных\n(class=json2paloma,method=loadData)\n",
        "required" : [ "json" ],
        "properties" : {
          "json" : {
            "type" : "string",
            "description" : "Данные в формате JSON:\n{\"s_items\":[{\"name\": \"Товар1\",\"guid\": \"{7916282B-644B-8728-19ED-7A0317C6F5FA}\",\"price\": \"1000\",\"isservice\":\"0\",\"mainShtrih\": \"1234567891011\",\"idlink\": \"1\",\"measurement\": \"код_единицы_измерения\"}]}\n\nКоды единиц измерения:\n1 - шт, 2 - кг, 3 - порция, 4 - литры, 5 - гр, 6 - мг, 7 - л, 8 - мл, 9 - м, 10 - см, 11 - мм\n"
          }
        }
      },
      "FormDocuments" : {
        "type" : "object",
        "description" : "Выгрузка документов\n(class=xml_exchange_data\\outDocuments,method=to_file)\n\nПример:\n{\n  \"without_guides\":\"yes\",\n  \"chb_zaperiod1\":\"01.01.2020 00:00\",\n  \"chb_zaperiod2\":\"31.12.2020 23:59\",\n  \"tables[0]\":\"d_order\",\n  \"tables[1]\":\"d_receipt\",\n  \"tables[2]\":\"d_selling\",\n  \"tables[3]\":\"d_posting\",\n  \"tables[4]\":\"d_cancellation\",\n  \"tables[5]\":\"d_inventory\",\n  \"tables[6]\":\"d_movement\",\n  \"tables[7]\":\"d_return_from_covenantee\",\n  \"tables[8]\":\"d_return_to_covenantee\",\n  \"tables[9]\":\"d_regrading\",\n  \"tables[10]\":\"d_cash_income\",\n  \"tables[11]\":\"d_cash_outcome\",\n  \"tables[12]\":\"d_cash_movement\",\n  \"tables[13]\":\"d_bank_income\",\n  \"tables[14]\":\"d_bank_outcome\",\n  \"tables[15]\":\"d_bank_movement\"\n}\n",
        "properties" : {
          "without_guides" : {
            "type" : "string",
            "enum" : [ "yes", "no" ],
            "description" : "Без справочников (yes, no)",
            "example" : "no"
          },
          "chb_zaperiod1" : {
            "type" : "string",
            "description" : "Начало периода",
            "example" : "01.01.2020 00:00"
          },
          "chb_zaperiod2" : {
            "type" : "string",
            "description" : "Конец периода",
            "example" : "31.12.2020 23:59"
          },
          "tables[0]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[1]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[2]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[3]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[4]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[5]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[6]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[7]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[8]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[9]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[10]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[11]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[12]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[13]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[14]" : {
            "$ref" : "#/components/schemas/DTables"
          },
          "tables[15]" : {
            "$ref" : "#/components/schemas/DTables"
          }
        }
      },
      "FormGuides" : {
        "type" : "object",
        "description" : "Выгрузка справочников\n(class=guide2xml,method=to_file)\n\nПример:\n{\n  \"tables[0]\":\"s_items\",\n  \"tables[1]\":\"s_clients\",\n  \"tables[2]\":\"s_type_inout\",\n  \"tables[3]\":\"s_warehouse\",\n  \"tables[4]\":\"s_organizations\",\n  \"tables[5]\":\"s_cash\",\n  \"tables[6]\":\"s_bank\"\n}\n",
        "properties" : {
          "tables[0]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[1]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[2]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[3]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[4]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[5]" : {
            "$ref" : "#/components/schemas/STables"
          },
          "tables[6]" : {
            "$ref" : "#/components/schemas/STables"
          }
        }
      },
      "FormExchanges" : {
        "type" : "object",
        "description" : "Выгрузка смен\n(class=xml_exchange_data\\changesOut,method=to_file)\n\nПример:\n{\n  \"chb_smenperiod1\":\"01.01.2020 00:00\",\n  \"chb_smenperiod2\":\"31.12.2020 23:59\"\n}\n",
        "required" : [ "chb_smenperiod1", "chb_smenperiod2" ],
        "properties" : {
          "chb_smenperiod1" : {
            "type" : "string",
            "description" : "Начало периода",
            "example" : "01.01.2020 00:00"
          },
          "chb_smenperiod2" : {
            "type" : "string",
            "description" : "Конец периода",
            "example" : "31.12.2020 00:00"
          }
        }
      },
      "DTables" : {
        "type" : "string",
        "enum" : [ "d_order", "d_receipt", "d_selling", "d_posting", "d_cancellation", "d_inventory", "d_movement", "d_return_from_covenantee", "d_return_to_covenantee", "d_regrading", "d_cash_income", "d_cash_outcome", "d_cash_movement", "d_bank_income", "d_bank_outcome", "d_bank_movement" ]
      },
      "STables" : {
        "type" : "string",
        "enum" : [ "s_items", "s_clients", "s_type_inout", "s_warehouse", "s_organizations", "s_cash", "s_bank" ]
      },
      "ResponseDataIn" : {
        "type" : "string"
      },
      "ResponseDataOut" : {
        "type" : "string",
        "format" : "binary"
      }
    }
  }
}